h1 {
    text-align: center;
    font-size: 60px;
}

.card-players {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    height: 400px;
}

.btnGame {
    text-align: center;
    width: auto;
    align-items: center;
    margin: auto;

}

.btnGame input {
    font-size: 32px;
}