@font-face {
    font-family: "JosefinSans-Bold";
    src: url("./fonts/JosefinSans-Bold.ttf");
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #291E15;
    color: #EBC598;
    font-family: "JosefinSans-Bold";
}